
/* homework 2, pja  */


/* The body should have padding and margin  */
body {
	margin:  10px 40px;
	padding: 10px 20px;
}

/* The header should have a background color, background image (using a local image), and padding */
header {
	background-color: #EEFFAA;
	background-image: url("../images/flywheel.jpg");
	padding: 25px;


}

h1 {
	text-align: center;
	color: #EEEEEE;
	text-transform: uppercase;
}

h2 {
	color: #0066CC;
}

/* The navigation links (and only the links in the navigation) should 
   be styled with a new display, margin, border-radius, text-decoration, and padding */

nav a{
  display: inline-block;
  margin:5px;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px;
  color: #606060;
  background-color: #e6e6e6;
  width: 15%;
  opacity: .5;
  text-align: center;


}

/*The sections should be next to each other, not one on top of the other. */

.left {
	background-color: #999966;
	width: 20%;
	margin-right: 2%;
	float: left;
}

.right {
	width: 70%;
	margin-right: 2%;
	padding:10px;
 	display: inline-block;
 	float: left;
}

/* The images should be part of the page now. In addition, 
   they should have a border, be centered horizontally, and 
   have vertical (top/bottom) space between them and the other images. */

img {
	max-height:100%;
	max-width:150px;
	padding:1px;
	border:2px solid #021a40;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
  
}

/* The link to the current page should be styled differently from the other links (using class = "active') */

.active {
	color: #333;
  	background-color: #ffffff;
  	border-color: #adadad;
  	opacity: 1;

  }

