body{
    padding: 10px;
    margin: 5px;
    
}

header{
    background: #556B2F;
    background-image: url("../images/flywheel.jpg");
    border-style: solid;
    border-width: 3px;
    border-color: #FFA500;
    text-transform: uppercase;
    padding: 5px;

    }

    h1{
    color: #FF4500;
    text-align: center;
}

nav a{
    width: 15%;
    height: 50px;
    padding: 5px;
    border-width: 3px;
    border-color: #000000;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    font-family: Arial, "Times New Roman", serif;
    font-size: 120%;
    background-color: #FF8C00;
    text-decoration: none;

}

.active{
    color: #000000;
    background: #F8F8FF;
    text-transform: uppercase;

}

.left{
    width: 20%;
    margin-right: 2%;
    padding: 10px;
    display: inline-block;
    float: none;
    background-color: #556B2F;

}

img{
    display: block;
    border: 5px;
    border-style: solid;
    border-color: #FF8C00;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    background-color: #556B2F;
}






.right{
    background-color: #F8F8FF;
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;

}




a{
    text-align: center;
    color: #191970;
    background-color: #FFFFFF;
    
}





